*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgb(33, 25, 21);

    
}

h1{
    font-size: 4vw;
    color: white;
    margin-left: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.358);
}

nav>ul{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.5rem;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: white;
    background-color: #4472c4;
    border: 2px solid rgb(0, 0, 187);
    padding: 4px 12px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.358);
    
}

#current{
    background-color: rgb(107, 177, 1);
}

.nav-img{
    height: 15vw;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    display: block;
    
    
}

.header{
    position: relative;
    
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex: 1;
}

section{
    display: flex;
    flex-direction: column;
    
}

.section-title{
   display: flex;
   align-items: center;
   
   padding: 0.5rem;
   background-color: rgb(96, 159, 151);
   color: white;
   flex-direction: column;
}


.section-body{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.articles{
    flex: 1;
    margin: 2vw;
    
    padding: 1vw;
    border: 2px solid rgb(221, 115, 115);
    background-color: rgb(234, 217, 76);
    border-radius: 10px 10px;

    min-width: 75vw;
}

.section-logo{
    flex-grow: 0;
    /*height: 20vw;*/
    max-height: 10rem;
    margin: 2vw;

}

article{
    margin-bottom: 2vw;
    /*box-shadow: 2px 2px rgba(0, 0, 0, 0.358);*/
}

.ol-num, .ol-alpha, .ul-circle{
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.ol-num {
    list-style: decimal;  
}
.ol-num>li{
    margin-bottom: 1vw;
}

.ol-num>li::marker{
    font-weight: bold;
}

.ol-alpha{
    list-style: lower-alpha;
}

.ul-circle{
    list-style: circle;
}

td, tr, th{
    padding: 1vw 2vw;
    text-align: center;
}

.table{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
}
.table>table{
    align-items: center;
    
}

#more-info{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#more-info p{
    margin-bottom: 1vw;
}

#contact-info{
    display: flex;
    justify-content: space-between;
}

/* Registration form */

h4{
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2{
    width: 48%;
    display: flex;
    align-items: center;
}
.col-1{
    width: 98%;
    display: flex;
    align-items: center;
}
fieldset{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 725px;
    border-style: none;
}

label{
    margin: 1%;
    width:max-content;
}

input[type="text"], input[type="number"], input[type="date"]{
    flex: 1;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus{
    outline: none;
}

/* form fieldset size */

#form-school, #form-position, #form-uniform{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5rem;
    
}
#form-school{
    height: 4rem;
}
#form-position{
    height: 2.5rem;
}
#form-uniform{
    height: 5.25rem;
}

#signature{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
#submit-button{
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
}

@media(max-width: 435px){
    nav ul, nav li{
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        
    }
    
    nav a{
        text-decoration: none;
        color: white;
        background-color: #4472c4;
        border: 2px solid rgb(0, 0, 187);
        padding: 0px 0px;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.358);
        width: 100%;
        text-align: center;
        padding: 0.25rem 0 0.25rem 0;   
    }
    h1{
        font-size: 5vw;
        margin: 0;
        text-align: center;
        padding: 0.5rem;
    }
    header{
        gap: 0;
    }
    .articles{
        margin: 0;    
        padding: 6vw;
    }
    td, tr, th{
        text-align: left;
        max-width: 20vw;
        font-size:3vw;
    }
    

    #contact-info{
        display: flex;
        flex-direction: column;       
    }

    #maps{
        display: flex;
        flex-wrap: wrap;
    }

   
}

@media(max-width: 780px){
    fieldset{
        flex-shrink: 1;
        max-width: 80vw;
        justify-content: center;
        text-align: center;
        padding: 0m;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        max-width: 10rem;

    }
    .col-1, .col-2, #signature{
        width: 80%;
    }
    #signature label{
        display: flex;
        flex-direction: column;
    }
    #form-school, #form-position, #form-uniform{
        flex-wrap: nowrap;
        height: auto;
        
        
    }

}